.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  padding: 0rem 12rem;
}

.portfolio__item {
  background: #3232b96e;
  padding: 1.9rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.portfolio__item:hover {
  border: 1px solid #3232b96e;
  background: transparent;
}
.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}
.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    padding: 0 2rem;
  }
}
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0 1rem;
  }
}
