header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.header__coontainer {
  text-align: center !important;
  height: 100%;
  position: relative;
}
/* ===== cTA ===== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* ===== SOCIALS ===== */
.header__socials {
  display: flex;
  gap: 0.8rem;
  position: absolute;
  flex-direction: column;
  align-items: center;
  left: 1;
  bottom: 1rem;
}
.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-cust);
}
.me {
  background: linear-gradient(var(--color-cust), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4rem;
  border-top-left-radius: 12rem;
  border-top-right-radius: 12rem;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.scroll__down {
  position: absolute;
  right: 2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 200;
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}
/* media query phone */

@media screen and (max-width: 600px) {
  header {
    height: 120vh;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
}
